Code - OSS
StardewValley/Saves
dconf
gh
htop
pulse
unity3d
unityhub
yay
GIMP/2.10
K
cef_user_data/Dictionaries
discord
godot
gtk-4.0
lutris
menus/applications-merged
spotify
mimeapps.list
Electron
grammarly-languageserver/client_BaDkMgx4X19X9UxxYRCXZo
gtk-2.0
nitrogen
obsidian/Cache/Cache_Data
obsidian/Cache/Cache_Data
obsidian
BraveSoftware/Brave-Browser
Vampire_Survivors/saves
Vampire_Survivors_856290252
Vampire_Survivors_Data
cef_user_data/WidevineCdm
modorganizer2/instances
nemo
Github Desktop/
QtProject.conf
GitHub Desktop/window-state.json
GitHub Desktop/WebStorage/QuotaManager-journal
GitHub Desktop/WebStorage/QuotaManager
GitHub Desktop/TransportSecurity
GitHub Desktop/SingletonSocket
GitHub Desktop/SingletonLock
GitHub Desktop/SingletonCookie
GitHub Desktop/Session Storage/MANIFEST-000001
GitHub Desktop/Session Storage/LOG
GitHub Desktop/Session Storage/LOCK
GitHub Desktop/Session Storage/CURRENT
GitHub Desktop/Session Storage/000003.log
GitHub Desktop/Preferences
GitHub Desktop/Network Persistent State
GitHub Desktop/logs/2023-10-09.desktop.production.log
GitHub Desktop/Local Storage/leveldb/MANIFEST-000001
GitHub Desktop/Local Storage/leveldb/LOG.old
GitHub Desktop/Local Storage/leveldb/LOG
GitHub Desktop/Local Storage/leveldb/LOCK
GitHub Desktop/Local Storage/leveldb/CURRENT
GitHub Desktop/Local Storage/leveldb/000003.log
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/MANIFEST-000001
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/LOG.old
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/LOG
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/LOCK
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/CURRENT
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/000003.log
GitHub Desktop/GPUCache/index
GitHub Desktop/GPUCache/data_3
GitHub Desktop/GPUCache/data_2
GitHub Desktop/GPUCache/data_1
GitHub Desktop/GPUCache/data_0
GitHub Desktop/Dictionaries/en-US-10-1.bdic
GitHub Desktop/DawnCache/index
GitHub Desktop/DawnCache/data_3
GitHub Desktop/DawnCache/data_2
GitHub Desktop/DawnCache/data_1
GitHub Desktop/DawnCache/data_0
GitHub Desktop/databases/Databases.db-journal
GitHub Desktop/databases/Databases.db
GitHub Desktop/Crashpad/client_id
GitHub Desktop/Cookies-journal
GitHub Desktop/Cookies
GitHub Desktop/Code Cache/wasm/index-dir/the-real-index
GitHub Desktop/Code Cache/wasm/index
GitHub Desktop/Code Cache/js/index-dir/the-real-index
GitHub Desktop/Code Cache/js/index
GitHub Desktop/Cache/Cache_Data/index-dir/the-real-index
GitHub Desktop/Cache/Cache_Data/index
GitHub Desktop/Cache/Cache_Data/ee19c3d65192f081_0
GitHub Desktop/Cache/Cache_Data/ebf4a3574ccb7de3_0
GitHub Desktop/Cache/Cache_Data/da75e35a45749913_0
GitHub Desktop/Cache/Cache_Data/d8b08866529f0cf6_0
GitHub Desktop/Cache/Cache_Data/d74ad2313cf121d1_0
GitHub Desktop/Cache/Cache_Data/d2781208db508b6a_0
GitHub Desktop/Cache/Cache_Data/c36c14132447d8ec_0
GitHub Desktop/Cache/Cache_Data/b97fb03e4bb3b489_0
GitHub Desktop/Cache/Cache_Data/95513bee7195226d_0
GitHub Desktop/Cache/Cache_Data/8cb6447bf6239bb8_0
GitHub Desktop/Cache/Cache_Data/831ec151088eaa53_0
GitHub Desktop/Cache/Cache_Data/7d9ef075f2fc3fd5_0
GitHub Desktop/Cache/Cache_Data/5283edf90cf4ab50_0
GitHub Desktop/Cache/Cache_Data/44dd123a2c58c04a_0
GitHub Desktop/Cache/Cache_Data/1c50cecaeb615a20_0
GitHub Desktop/Cache/Cache_Data/1c4956720a595252_0
GitHub Desktop/Cache/Cache_Data/06a106cdacd2706d_0
GitHub Desktop/.guid
GitHub Desktop/Session Storage
VSCodium
aseprite
awesome/awesome-wm-widgets
nvim/lazy-lock.json
nvim/lazy-lock.json
pavucontrol.ini
lazygit
