Code - OSS
StardewValley/Saves
dconf
gh
htop
pulse
unity3d
unityhub
yay
GIMP/2.10
K
cef_user_data/Dictionaries
discord
godot
gtk-4.0
lutris
menus/applications-merged
spotify
mimeapps.list
Electron
grammarly-languageserver/client_BaDkMgx4X19X9UxxYRCXZo
gtk-2.0
nitrogen
obsidian/Cache/Cache_Data
obsidian
BraveSoftware/Brave-Browser
Vampire_Survivors/saves
Vampire_Survivors_856290252
Vampire_Survivors_Data
cef_user_data/WidevineCdm
modorganizer2/instances
nemo
Github Desktop/
QtProject.conf
VSCodium
aseprite
awesome/awesome-wm-widgets
nvim/lazy-lock.json
pavucontrol.ini
lazygit
awesome/awesome-wm-widgets
awesome/vicious
tmux/plugins
StardewValley
qBittorrent
xclicker.conf
bitburner
chromium
evolution/sources
heroic
awesome/net_widgets
CurseForge
MuseScore
go/telemetry/local
todoist/config.json
